.add-channel-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-channel-form {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1001;
}

.add-channel-form h3 {
  margin: 0 0 10px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.hashtag-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
}

.channel-name-input {
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #f9f9f9;
}

.channel-name-input::placeholder {
  color: gray;
}

.add-channel-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-channel-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-channel-form button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.user-selection {
  margin-top: 10px;
}

.selection-mode {
  margin-bottom: 10px;
}

.select-button {
  padding: 10px;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.select-button.active {
  background-color: #007bff;
  color: #fff;
}

.search-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
}

.search-input {
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.search-results {
  position: absolute;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-result-item{
  display: flex;
  flex-direction: row;
  padding: 20px;

}

.selected-users {
  margin-top: 10px;

}

.selected-users ul {
  list-style-type: none;
  padding: 0;
}

.selected-users ul li {
  padding: 5px 0;
}

.user-name{
  color:#555;
}
