.add-user-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:2000;
  }
  
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-body {
    margin-top: 20px;
}
  
.modal-body h4 {
    color: #5a5a5a;
}
  
.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
   
.user-list {
    list-style: none;
    padding: 0;
}
  
.user-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    color: #555;
}
  
.user-list li:hover {
    color:#555;
}
  
.add-button {
      width: calc(100% - 20px);
      padding: 5px 20px;
      margin: 15px 0;
      background-color: #4742eb;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      color: #fff;
      font-size: 1rem;
      width: 50%;
}
   
.add-button:hover {
    background-color: #312ca9;
}
  
.input-add-user{
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  font-size: 1rem;
  border: none;
  background-color: #edeaea;
  border-radius: 10px;
  width: 95%;
}

h5{
    color:#555;
}

li{
    color:#555;
}