.chat-window {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
}

.chat {
    display:flex;
    height: 85vh;
    background-color: rgba(29, 37, 82, 0.3);
    box-shadow: #444;
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
    overflow: hidden;
    margin-right:60px;
    width: 100%;
  }

.thread-class{
    margin-right: 30px;
    background-color: rgba(29, 37, 82, 0.3);
    border-radius: 8px;
    max-width: 350px;
}
  
.chat-header {
    flex-direction: row;
    padding: 10px;
    background-color: rgba(29, 37, 82);
    color: #19dae5;
    align-items: center;
}
  
.chat-wrapper{
    display: flex;
    flex-direction: column;
}

.chat-header-channel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-header-private {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
 
.channel-members-header{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    margin-right:10px;
    position: relative; 
}

.channel-member{
    margin-left:-30px;
}

.channel-left {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.channel-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon{
    font-size:24px;
    margin-right: 10px;
}

.chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.chat-profile-placeholder{
    margin:10px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.channel-title{
    color:#fff;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    margin-top:5px;
    margin-right: 10px;
  }

.chat-partner-name{
    color:#fff;
    font-size: 26px;
    margin-left: 10px;
    font-weight: bold;
    margin-top:5px;
    margin-right: 10px;
}
  
.channel-description{
  color:#fff;
  margin-left: 10px;
  margin-bottom: 5px;;
}

.chat-header h3 {
    margin: 0;
    font-size: 18px;
    color: #4742eb;
}

 .chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%; 
    position: relative;
}
  
.message.current-user {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    position: relative;
 }
  
.Message-Text {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    text-align: left; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:#4742eb;
    position: relative;
    color: white;
    max-width: 60%;
    min-width: 20%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
  }
   
.message.current-user .message-icon {
    margin-left: 10px; 
}
  
.message.other-user .chat-wrapper {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    margin-left: -30px;
    margin-right: 30px;
    margin-top: -10px;
    position: relative;
}

.message.current-user .Message-Text::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    right: -10px;
    width: 0;
    height: 0;
    border: 25px solid transparent; 
    border-top-color: #4742eb; 
    transform: rotate(45deg);
}

.message.other-user .Message-Text{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #333; 
    position: relative;
    color: white;
    max-width: 60%;
}

.message.other-user .Message-Text::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: -10px; 
    width: 0;
    height: 0;
    border: 25px solid transparent; 
    border-top-color:  #333; 
    transform: rotate(-45deg); 
}

.messages-wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding-right: 10px;
}

.chat-wrapper{
    display: flex;
    flex-direction: row-reverse;
    min-height: 80px;
}

.message-icon{
    display: flex;
}
  
.message.other-user {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-footer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.file-container{
    display:flex;
    align-items: flex-end;
}
  
.footer-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
 }
  
.message-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.attachment-btn, .emoji-btn, .send-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #4742eb;
}

.attachment-btn {
    padding-right: 10px;
}

.emoji-btn {
    padding-left: 10px;
    padding-right: 10px;
}

.send-btn {
    color: #4742eb;
    font-size: 24px;
}

.send-btn:hover {
    color: #2f2b96;
}

.message-input::placeholder {
    color: #888;
    font-size: 16px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-preview {
    display: flex;
    width: 100%;
    background-color: #fff;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.file-preview img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.file-preview p {
    font-size: 14px;
    color: #555;
}

.remove-file-btn {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

.remove-file-btn:hover {
    color: #d9534f;
}

.emoji-picker-container {
    position: absolute; 
    bottom: 60px; 
    z-index: 1000; 
    background-color: white; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.emoji-picker-container > div {
    max-height: 300px; 
    overflow-y: scroll; 
}

.user-profile-placeholder2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
}

.add-user-modal {
    z-index: 1000; 
    position: fixed;
    top: 50%;
    left: 50%;
}

.date-separator {
    text-align: center; 
    margin: 20px 0; 
    position: relative; 
    margin-right: 20px;
}

.date-separator::before,
.date-separator::after {
    content: ''; 
    position: absolute; 
    top: 50%; 
    width: 45%; 
    height: 1px; 
    background-color: #ccc; 
}

.date-separator::before {
    left: 0; 
    margin-right: 10px;
}

.date-separator::after {
    right: 0; 
    margin-left: 30px; 
}

.date-separator span {
    background-color: #f0f0f0; 
    padding: 5px 10px;
    border-radius: 10px;
    color: #666; 
    font-size: 14px; 
    position: relative;
    z-index: 800;
}

.message-container {
    position: relative; 
    margin-bottom: 10px; 
}

.message-hover-actions {
    display: none; 
    position: absolute;
    background-color: rgba(94, 60, 189, 0.7);
    padding: 5px;
    border-radius: 5px;
    z-index: 1001;
    max-width: 90%;
    min-width: 20%;
}

.message-hover-actions.visible {
    display: flex; 
    flex-direction: row;
    padding: 10px;
}

.message.current-user .message-hover-actions {
    right: 0; 
    top: -30px;
}

.message.other-user .message-hover-actions {
    right: 0;
    top: -30px; 
}

.message-icon {
    margin-left: 5px; 
}

.message-icon button {
    background: none;
    border: none;
    cursor: pointer;
    color:#fff;
}

.message-icon button:hover {
   color: #6b1b83; 
}

.Message-Image{
    width: 150px;
    height: 200px;
    height: auto;
    border-radius: 10px;
}

.close-button-message {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
}

.emoji-picker-dropdown{
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    overflow: scroll;
}

.emoji-button{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    background-color: transparent;
    border: none;
}

.button-edit-delete {
    border-radius: 10px; 
    background-color: transparent; 
    color: #fff; 
    padding: 5px;
    margin-right: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    transition: background-color 0.3s; 
}

.message-edit {
    background-color: #5e3bcd;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 40px;
}

.message-edit input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.message-edit button {
    padding: 5px 10px;
    background-color: white;
    border: none;
    color: #5e3bcd;
    border-radius: 5px;
    cursor: pointer;
}

.attachment-link {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.attachment-link:hover {
   text-decoration: underline; 
}

.message-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}

.message-right {
    justify-content: flex-end;
    text-align: right;
    margin-right: 100px;
    font-size: 14px;
}

.message-left {
    justify-content: flex-start;
    text-align: left;
    margin-left: 100px;
    font-size: 14px;
}

.thread-count {
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: flex-start; 
    font-size: 0.9em; 
    color: #19dae5;
}

.message.current-user .thread-count {
    justify-content: flex-end; 
}

.message-reactions {
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.no-reactions {
    padding-right: 0; 
    margin-bottom: 0px;
}

.emoji-display {
    margin-right: 10px;
    border: 1px dashed;
    border-radius: 10px;
    padding: 5px; 
}

.emoji{
    margin-right:5px;
}

.Message-Sender{
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.message-time {
    font-size: 0.8em; 
    color: #fff;
    margin-left: 5px; 
}

.reaction-tooltip {
    position: absolute;
    background-color: #9426B6;
    color: white;
    padding: 10px 15px; 
    border-radius: 20px; 
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    width: auto;
    height: auto; 
    top: -50px; 
    left: 50%;
    transform: translateX(-50%); 
    display: none;
}

.reaction-wrapper {
    position: relative; 
    display: inline-block;
}

.reaction-wrapper:hover .reaction-tooltip {
    display: block; 
}

.reaction-tooltip .reaction-text {
    font-size: 24px; 
    margin-bottom: 5px;
}

.reaction-tooltip .user-text {
    font-size: 14px; 
    font-weight: bold; 
}

.search-sidebar{
    display: none;
}

.sidebar.hidden {
    display: none; 
}

.modal-overlay {
    display: none; 
}

.member-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
}

.Message-Image{
    width: 150px;
    height: 200px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1304px) {

  .chat-window {
    flex-direction: column; 
  }

  .thread-class {
    display: none; 
  }

  .thread-class.show {
    display: flex; 
    max-width: 90%;
  }

  .chat{
    display: flex; 
    max-width: 90%;
  }

  .chat.hide{
    display: none; 
  }

  .sidebar.hidden {
    display: none;
  }
  .modal-overlay {
    display: none;
  } 
}

@media (max-width: 768px) {

    .chat-footer {
        align-items: stretch;
    }

    .footer-left {
        flex-direction: row;
        width: 100%;
        margin-bottom: 5px;
    }

    .footer-right {
        width: 20%;
        justify-content: flex-start;
    }

    .message-input {
        width: 100%;
        margin-right: 10px;
    }

    .attachment-btn, .send-btn {
        text-align: center;
    }

    .send-btn {
        font-size: 20px;
        margin:0px;
        padding: 5px;
    }

  .chat-window {
    flex-direction: column; 
    flex-grow: 0;
    margin-top:10px
  }

  .thread-class {
    display: none; 
  }

  .thread-class.show {
    display: flex; 
    max-width: 90%;
  }

  .chat.hide{
    display: none; 
  }

  .channel-member{
    display: none;
  }

  .channel-title{
  font-size: 24px;
  }

  .search-container {
    display: none;
  }

  .search-sidebar {
    position: relative;
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .chat-full-width {
    width: -webkit-fill-available !important;
    margin-left: 20px !important;
  }

  .chat {
    display: flex;
    z-index: 1;
    margin-right: 0px;
    width: 95%;
  }

  .channel-button {
    font-size: 20px;
  }

  .sidebar {
    position: absolute;
    top: 0%;
    width: -webkit-fill-available;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 2000;
    margin-left: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .sidebar.hidden {
    display: none; 
  }
  
  .modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: none; 
  }
  
  .modal-overlay.active {
    display: block; 
  }

  .channel-info-container{
    margin-left: 10px;
    margin-right: 10px;
  }

  .thread-class {
    margin-right: 0px;
}

  .thread-class.show {
    max-width: 100%;
  }

  .chat-partner-name {
    font-size: 24px;
  }

  .thread-header {
    padding: 10px !important;
  }

}
