.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: #151426;
  }
  
.navbar-left {
    display: flex;
    align-items: center;
}
  
.navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
  
.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}
  
.navbar-search-form {
    margin-top:10px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    background-color: #36445e;
    border-radius: 20px; 
    overflow: hidden;
    margin-left: 50px;
    color:white;
}
  
.navbar-search-input {
    flex: 1;
    padding: 8px 16px;
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    background-color: #36445e;
    color: white; 
    width: auto;
}

.navbar-search-button {
    background-color: #36445e;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 20px; 
    cursor: pointer;
}
  
.navbar-search-button:hover {
    background-color: #1a252f;
}
  
.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
}
  
.navbar-link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
  
.navbar-link:hover {
    text-decoration: underline;
}
  
.navbar-user {
    margin-left: 10px;
    display: flex;
    margin-left: 20px;
    gap: 10px;
}
  
.user-avatar {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}

.user-name{
    display:flex;
    align-items: center;
    font-size: 18px;
    color: black;
}

.user-name-big{
  display:flex;
  align-items: center;
  font-size: 18px;
  color: black;
}
  
.dropdown-icon{
    display:flex;
    align-items: center;
    font-size: 20px;
    color:  #19dae5;
}

.dropdown-menu{
    position: absolute;
    padding: 20px;
    right: 30px;
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    z-index: 1010;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
  }

.dropdown-item{
    margin-bottom: 10px;
    padding:10px;
    color:#555;
}

.search-result-item-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;  
    transition: background-color 0.3s;
    width: 100%;  
    box-sizing: border-box;  
}
  
.search-result-item-nav:hover {
    background-color: #f0f0f0;  
}

.search-results-nav {
    position: absolute;
    width: 95%;
    height: 150px;
    overflow-y: auto;
    border-radius: 4px;
    margin-top: 190px;
    padding: 5px;
    list-style-type: none;
    background-color: #fff;
    z-index: 1000;
}
  
.search-container {
    position: relative; 
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar-notification {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
  
.navbar-notification .notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-logo{
    width: 50px;
    margin-right: 10px;
}

.connect-title{
    font-size: 20px;
    color:#fff;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
  
.modal-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 1001; 
}
  
.notification-count{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    border-radius: 50%;
    top: -15px;
    padding:5px;
}

.notification-dropdown.show {
  display: block; 
}

.notification-item {
  padding: 10px; 
  border-bottom: 1px solid #f1f1f1; 
  color: #333; 
}

.notification-item:hover {
  background-color: #f9f9f9; 
}

.notification-item:last-child {
  border-bottom: none; 
}

.notification-dropdown {
  position: absolute;
  top: 70px;
  right: 232px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 2000;
  padding: 10px;
}

.dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.notification-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.contact-initials-board {
  background-color: #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #555;
}

.notification-details {
  flex-grow: 1;
  margin-left: 10px;
}

.create-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.no-notifications {
  text-align: center;
  color: #777;
}

button{
  background-color: #4742eb;
}

.modal-overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1001; 
}

.toggle-sidebar-navbar {
  display: none;
}

@media (max-width: 768px) {
  
    .user-name-big{
      display: none;
    }

    .navbar-right {
      margin-right: -10px;
    }

    .toggle-sidebar-button {
      display: none;
    }

    .toggle-sidebar-navbar {
      display: block;
      right: 5px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #19dae5;
    }

}
