/* styles.css */
.threads-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  padding: 16px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
      z-index: 1000;
  }

.sender-details{
  padding-left: 20px;
  margin-left: 10px;
  margin-right: -10px;
}

  .thread-message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: #555;
  }

  .initial-message{
    background-color: #d0cddb;
    padding:10px;
  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .thread-header {
    margin-bottom: 16px;
    color:#555;
  }

  
  
  .thread-messages {
    max-height: calc(100% - 90px);
    overflow-y: auto;
    margin-bottom: 16px;
  }
  
  .thread-input {
    display: flex;
    justify-content: space-between;
  }
  
  .thread-input input {
    flex: 1;
    margin-right: 8px;
  }
  
  .thread-input button {
    padding: 8px;
  }
  