.app-container {
    position: relative;
    background-color: #151426;

}

.App-content {
    display: flex;
    position: relative;
}

.toggle-sidebar-button {
    position: fixed;
    top: 450px;
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000; 
    transform: rotate(270deg);
    background-color: #4742eb;
    border-radius: 10px;
}

.chat-full-width {
    width: 100%;
    margin-left:100px;
}

.chat-narrow {
    width: 80%;
    margin-left: 60px;
}

.no-chat-message{
  color:#fff;
}